body {
    background-color: white;
}

h1 {
    font-size: 16pt;
}

h2 {
    font-size: 14pt;
}

.main {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    margin-top: 2em;
    border: 1px;
}

dt  {
    clear: left;
    float: left;
    font-size: 11pt;
    font-weight: 600;
    line-height: 26px;
    width: 100px;
}

dd {
    clear: right;
    font-size: 11pt;
    line-height: 18px;
    padding: 4px 0 4px 40px;
}

#nutrition tr.thick-line {
    height: 7pt
}

#nutrition td.solid {
    background: #000;
}

#nutrition tr {
    margin: 0;
    padding: 0;
}

#nutrition tr.medium-line {
    height: 3pt;
}

#nutrition td.solid {
    background: #000;
}

#nutrition td.pct-dv {
    font-weight: 900;
    font-size: 8pt;
    text-align: right;
}

#nutrition span.label {
    font-size: 12pt;
    font-weight: 600;
    margin-right: 4pt;
}

#nutrition span.llabel {
    font-size: 12pt;
    margin-left: 1em;
    margin-right: 4pt;
}

#nutrition span.dv {
    font-size: 12pt;
    font-weight: 600;
    float: right;
}

#nutrition div.line {
    border-top: solid 0.25pt #555;
}

#nutrition td.header {
    font-weight: 900;
    font-size: 24pt;
    text-align: center;
}

#nutrition div.top-lbls {
    float: left;
}

#nutrition div.amount-lbl {
    font-size: 8pt;
    font-weight: 900;
}

#nutrition div.cal-lbl {
    font-size: 16pt;
    font-weight: 900;
}

#nutrition div.cal {
    font-size: 22pt;
    font-weight: 900;
    float: right;
}

#nutrition td.dv-expl {
    font-size: 6pt;
    max-width: 6em;
}

#nutrition td.cl-expl {
    font-size: 6pt;
    text-align: center;
}

#nutrition {
    display: inline-block;
    border: solid 0.5pt #000;
    font-family: Helvetica;
    float: right;
}
